<div class="parallax col-md-12 col-xs-12">
  <div class="col-md-12 col-xs-12 content w3-animate-right">
    <br>
    <div class="col-md-12 col-xs-12 text-center">
      <img class="icon icons8-Remote-Working-Filled" 
           width="50" 
           height="50" 
           src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAe
           P4ixAAACf0lEQVRoQ+2Z7TEEQRCGXxGQATIgAkSACBABGSACRIAIEAEicBcBMiAC6rma
           3Rp39rZntqdu62r7z1bZ2Zl++vvGipZEVpaEQwNI3zw5eGTwSCELDKGVYdgtSeuSeH5J
           Gkn6Ds+M7f5+Utoju5KOJB1IWmvQFqhHSfeSXnKJSoFsSLqVBEiK3Em6lPSR8hFrS4Bg
           fSCaPNCmIx46TPWON8hxgGhT1vL+RBIeMoknCGH0bDrVvmjbWgxyQHaCHp9RLBNG7x3CqQ
           mNMNsMVW4uvhWE5D2XROjEQlLifg6jOpUQkv+ibWMLCMpfFbB2m27Ve5NX2kBoXm/WEwuua
           038NhAggFm0PIWm2qjHPBD6wcOiCaLz5xp93ksSjATvi2SBUIEAoVr1RaiMjaPLNCX5wHiR
           khdMsDRDeklKQ9wL/YFBcdVgLdYxXJIvM0AxCMqjSMqMVEEwkqd2dkBQjnOtMBXvdRguKc0Tq
           UByOnMMkWMElAAGI+TA8B1lmWcNQnWiSlmlK0Tc7LrA1M0Sj6Q2PS8ILxjy5hAQ4u3U6IoYwvhJ8
           rKcMNsDJKV7x3GdrKHxg5x8uwHkx3iAVyhMH+cRqqMcEBTpWnEqGA+IuvzSXLimSZWuMG4QVfkl6/
           dTKcL6GKZLQ0xtxNPqjgmts/DDKZOlDrPcEaUrBHrfA4IChJdl3smFLf3dpPwifRvZU8BfmfPiobFL
           rqQc7Lm2LhgxCCHGjUhu4nsqaNkLCObDyX3xf7+6CDMKQJ9zhnBCx8nk2wTC3/EO10CU1OrfARYrlVw
           zDooTNTO39m23KCUVc917AHE1p8Nmg0ccjOi6xeARV3M6bDZ4xMGIrlssjUd+AdEfi4AdohQEAAAAAElFTkSuQmCC">
    </div>
    <br>
    <div class="col-md-12 col-xs-12 ">
      <p class="preface">
        เบื่อมั๊ยกับการเรียนระบบเครือข่ายอันแสนน่าเบื่อ หยุด!! นึกถึงมันเพราะนี้คือเว็บที่สอนด้านระบบเครือข่ายระดับมัธยมปลายที่สนุกที่สุด
      </p>
    </div>
  </div>
</div>



